{{ form_start(form) }}
<div>
    {{ form_errors(form) }}
</div>

<div class="flex flex-col">
    <div class="flex flex-row">
        <div>
            {{ form_label(form.email) }}
        </div>
        <div>
            {{ form_widget(form.email) }}
        </div>
    </div>
    <div class="flex flex-row">
        <div>
            {{ form_label(form.fullName) }}
        </div>
        <div>
            {{ form_widget(form.fullName) }}
        </div>
    </div>
    <div class="flex flex-row">
        <div>
            {{ form_label(form.festival) }}
        </div>
        <div>
            {{ form_widget(form.festival) }}
        </div>
    </div>
</div>
<div style="padding-left: 30px">
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
