{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <style>
        h1 {
            padding-left: 15px;
            padding-top: 10px;
        }
    </style>
    <h1>Booking Information</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Buyer email</th>
            <td>{{ booking.email }}</td>
        </tr>
        <tr>
            <th>Buyer full name</th>
            <td>{{ booking.fullName }}</td>
        </tr>
        <tr>
            <th>Festival</th>
            <td>{{ booking.festival.name }}</td>
        </tr>
        </tbody>
    </table>

    <div class="flex flex-row">
        <div class="basis-3xs">
            <a href="{{ path('app_booking_index') }}" class="btn">
                Back to list
            </a>
        </div>
        <div class="basis-3xs">
            {{ include('booking/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
